<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Eventos cadastrados</title>
</head>
<body>
	<H2>Eventos cadastrados</h2>
	
	<table>
		<tr>
			<th>Nome</th>
			<th>Data de Realização</th>
			<th>Nome do Responsável</th>
			<th>Telefone do Responsável</th>
		</tr>
		<tr th:each="cont : ${lista}">
			<td th:text="${cont.nome}"></td>
			<td th:text="${cont.dataEvento}"></td>
			<td th:text="${cont.responsavel}"></td>
			<td th:text="${cont.telefone}"></td>
		<td>	
		<a th:href="@{/exibirEvento(codigo=${cont.codigo})}">Editar</a>
		<a th:href="@{/removerEvento(codigo=${cont.codigo})}">Remover</a>
		</td>
		</tr>
		
	</table>
	<br><br>
	<a th:href="@{/listarEvento}">LISTAR EVENTOS</a><br><br>
	<a href="/cadastrar">CADASTRAR NOVO EVENTO</a><br><br>
	<a href="/ind">voltar ao menu principal</a><br>
	

</body>
</html>